html {
    padding: 3%;
    
}
header a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.titulo {
    text-align: center;
    font-size: 40px;
}
.card-body img{
    width: 400px;
    
}
footer {
    text-align: center;
    background-color: #198754;
}